/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 25; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 33px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 20;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    z-index: 4;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  /* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .main-title {
    position: relative;
    font-size: 5vw;
    z-index: 1;
  }

  .main-title-container {
    display: flex;
  }

  body {
    margin: 0;
    background-color: rgb(249,248,246);
  }

  .top-of-page {
    position: relative;
    background-image: url("photos/hayden_portrait_whitebackground.jpeg");
    width: 100%;
    height: 1123px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .top-of-page-copy {
    position: absolute;
    background-image: url(photos/portfolio_portrait_nobackground.png);
    width: 100%;
    height: 1123px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    top: 4px;
    filter: blur(4px);
  }

  /* .top-of-page-copy {
    position: absolute;
    width: 500px;
    height: 681px;
    z-index: 1;
    object-fit: cover;
    object-position: right;
    right: 0;
} */

  .center-content {
    display: flex;
    justify-content: center;
  }

  .about-section-container {
    top: 1px;
    position: relative;
  }

  .about-section {
    border: 9px double rgb(26, 148, 230);
    height: auto;
    width: 800px;
    text-align: center;
    font-size: 30px;
    color: rgb(131 128 157);
    padding: 50px;
  }

  .title {
    color:rgb(69 73 90);
    font-size: 50px;
    text-align: center;
    font-family: cursive;
  }

  .small-title {
    color:rgb(69 73 90);
    font-size: 35px;
    text-align: center;
    font-family: cursive;
  }

/* STACK */

.stack-section-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

  .stack-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stack-logo {
    width: 90px;
}

.stack-text {
    text-align: center;
    color: rgb(131 128 157);
}

/* PROJECTS */
.project-links {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
    width: 800px;
}

.project-link {
    color: rgb(131 128 157);
    border-left: 3px solid rgb(26, 148, 230);
    border-right: 3px solid rgb(26, 148, 230);
    padding: 8px;
}

.project-link:hover {
    color:  rgb(26, 148, 230);
    border-left: 0px;
    border-right: 0px;
    border-top: 3px solid  rgb(26, 148, 230);
    border-bottom: 3px solid  rgb(26, 148, 230);
    padding: 8px;
    text-decoration: none;
}

.project-details {
    color:rgb(131 128 157);
    justify-content: center;
    border: 9px double rgb(26, 148, 230);
    width: 800px;
    padding: 50px;
    font-size: 18px;
    font-family: cursive;
}

/* CONTACT */
.contacts-container {
  color:rgb(131 128 157);
  display: flex;
  justify-content: space-around;
}

.contacts {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(131 128 157);
  padding-left: 10px;
}

.contact-text {
  padding-left: 10px;
}

.link:hover {
  text-decoration: underline;
}

.contact-icon {
  width: 50px;
}